<div class="panel clearfix">
    <p class="text-left">Photographer & Director Listing</p>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_artists.each do |media_artist| %>
      <tr>
        <td><%= link_to 'Show', media_artist %></td>
        <td><%= link_to 'Edit', edit_media_artist_path(media_artist) %></td>
        <td><%= link_to 'Destroy', media_artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media artist', new_media_artist_path %>
