<%= form_for(@band_mate) do |f| %>
  <% if @band_mate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band_mate.errors.count, "error") %> prohibited this band_mate from being saved:</h2>

      <ul>
      <% @band_mate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
