<div class="panel clearfix">
    <p class="text-left">Quick-Tour was inspired by die-hard fans for diehard fans.</p>
    <p class="text-left">Find the tour dates for all of your favorite bands quickly and efficiently.</p>
    <p class="text-left">Help support local music by attending more events, and tracking events you attend. </p>
</div>
