<div class="panel clearfix">
    <p class="text-left">Scene Survival Kit was inspired by die-hard local musicians for diehard local musicians.</p>
    <p class="text-left">Arrange housing for your upcoming tour-dates using Couch Surfer</p>
    <p class="text-left">Help support local music by attending more events, and tracking the events you attend.</p>
</div>
